/* jetbrains-mono-latin-normal */
@font-face {
    font-family: 'JetBrains Mono Variable';
    font-style: normal;
    font-display: swap;
    font-weight: normal;
    
    src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2) format('woff2');
}

/* jetbrains-mono-latin-italic */
@font-face {
    font-family: 'JetBrains Mono Variable';
    font-style: italic;
    font-display: swap;
    font-weight: normal;
    
    src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-italic.woff2) format('woff2');
}

/* lily-script-one-latin-400-normal */
@font-face {
    font-family: 'Lily Script One';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    
    src: url(@fontsource/lily-script-one/files/lily-script-one-latin-400-normal.woff2) format('woff2');
}