@import 'global.css';
@import 'variable.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';

.layout-wrapper {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-height: 100%;
}

.main {
  display:flex;
  flex-direction:column;
  margin-left:auto;
  margin-right:auto;
  min-width:0;
  padding-bottom:4rem;
  padding-left:1rem;
  padding-right:1rem
}

@media screen and (width >= 320px) {
  .main {
    max-width:100vw;
  }
}


@media screen and (width >= 961px) {
  .main {
    max-width:48.75rem;
  }
}

.home-button {
  width: 88px;
  height: 31px;
  image-rendering: pixelated;
}
