---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Icon from "astro-icon";

const posts = await getCollection('blog')

---

<BaseLayout title="All posts - Amy Erskine">
<h1 class="text-center text-4xl mb-4">All posts</h1>
<div class="self-center flex flex-col gap-2">
  {posts.map(p => (
    <a class="
      m-2 p-2 bg-surface0 rounded-md w-96 relative
      transition ease-in-out border-2 border-surface0 hover:-translate-y-1 hover:scale-105 hover:border-maroon duration-150
    " href=`/post/${p.slug}`>
      <span class="text-xs text-subtext0 mb-4">{p.data.publishedDate.toLocaleDateString()}</span>
      <h2 class="text-xl font-medium">{p.data.title}</h2>
      <span>{p.data.blurb}</span>
      <Icon class="h-5 w-5 text-surface2 absolute top-3 right-3" name="mdi:external-link"/>
    </a>
  ))}
</div>
</BaseLayout>