---
import Icon from 'astro-icon'
import '@fontsource-variable/urbanist';
import '@fontsource-variable/martian-mono';
import { SEO } from 'astro-seo';
 
interface Props {
	title: string;
}

const { title } = Astro.props;
const description = 'Check out my personal website. I share my current work, and any interesting tidbits of information I find.'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<SEO
			title,
			description={description},
			charset='UTF-8',
			openGraph={{
				basic: {
					title,
					type: 'profile',
					image: '/avatar.png',
				},
				optional: {
					description
				}
			}},
			twitter={{
				card: 'summary',
				creator: '@nullishamy',
				title,
				description,
				image: '/avatar.png',
				imageAlt: "Amy Erskine's profile picture"
			}},
			extend={{
				link: [{ rel: "icon", href: "/favicon.svg" }],
				meta: [
					{ name: 'generator', content: Astro.generator },
					{ name: 'profile:first_name', content: 'Amy' },
					{ name: 'profile:last_name', content: 'Erskine' },
					{ name: 'profile:username', content: 'nullishamy' },
					{ name: 'profile:gender', content: 'female' },
					{ name: 'viewport', content: 'width=device-width' },
					{ name: 'color-scheme', content: 'dark' },
					{ name: 'theme-color', content: '#f5c2e7' },
				]
			}}
		/>
	</head>
	<body class="mocha text-text bg-base flex flex-col h-screen overflow-auto">
		<div class="self-center w-full max-w-xl lg:max-w-3xl xl:max-w-6xl my-4">
			<div class="flex flex-row justify-between px-4 py-2">
				<a href="/" class="w-content text-text">
					<Icon class="w-6 h-6 md:w-8 md:h-8" name="mdi:home-export-outline"></Icon>
				</a>
	
				<nav>
					<a class="self-end text-xl" href="/post">Blog</a>
				</nav>
			</div>
		</div>

		<slot />

		<div class="grow"></div>

		<footer class="w-full">
			<div class="flex flex-col items-center gap-2">
				<p class="text-lg">Made with great pain by Amy</p>
				<div class="flex flex-row justify-items-center gap-6 mb-2">
					<a class="group" target="_blank" href="https://github.com/nullishamy">
						<Icon class="w-12 h-12 text-surface2 group-hover:text-pink" name="mdi:github"></Icon>
					</a>

					<a class="group" target="_blank" href="discord://-/users/637032376731566082">
						<Icon class="w-12 h-12 text-surface2 group-hover:text-pink" name="ic:baseline-discord"></Icon>
					</a>

					<a class="group" target="_blank" href="https://git.amy.mov">
						<Icon class="w-12 h-12 text-surface2 group-hover:text-pink" name="cib:gitea"></Icon>
					</a>

					<a class="group" target="_blank" href="mailto:contact@amyerskine.me">
						<Icon class="w-12 h-12 text-surface2 group-hover:text-pink" name="mdi:email-fast-outline"></Icon>
					</a>
				</div>
			</div>
		</footer>
	</body>
</html>
