--- 
import { type CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'

interface Props {
  entry: CollectionEntry<'project'>
}

const { entry } = Astro.props;
---
<BaseLayout title={`${entry.data.name} - Amy Erskine`}>
  <h1 class="text-3xl self-center mt-4">{entry.data.name}</h1>
  <a class="text-xl self-center text-sky underline w-auto mx-2" href={entry.data.repoUrl}>{entry.data.repoUrl}</a>

  <article class="w-auto md:w-2/3 lg:w-2/4 xl:w-1/3 self-center bg-surface0 rounded-md m-4 p-4 prose prose-code:text-xs">
    <slot />
  </article>
</BaseLayout>