on:
  workflow_dispatch:
  push:
    branches: 'main'
  
jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
    
      - name: Setup Node.js 24.x
        uses: actions/setup-node@v6
        with:
          node-version: 24
          
      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: lts
      
      - name: Install tailwindcss
        run: |
          npm init -y
          npm i tailwindcss @tailwindcss/cli
          
      - name: Tola build (data files)
        run: |
          wget 'https://github.com/tola-rs/tola-ssg/releases/download/v0.6.5/tola-x86_64-linux-static.tar.gz'
          tar xzvf tola-*
          chmod +x ./tola
          ls -lah
          PATH="./node_modules/.bin:$PATH" ./tola build
          
      - name: Tag generation
        run: |
          cd scripts
          deno run -A gen-tags.ts
          
      - name: Tola build (final)
        run: |
          PATH="./node_modules/.bin:$PATH" ./tola build
        
      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'public'
  
  deploy:
    needs: build_site
    runs-on: ubuntu-latest
  
    permissions:
      pages: write
      id-token: write
  
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
  
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
